<%= form_with model: [:user, :seminar, @participant] do |f| %>
  <div class="forms">
    <div class="form">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>

    <div class="form">
      <%= f.label :membership_number %>
      <%= f.text_field :membership_number %>
    </div>

    <div class="form">
      <%= f.label :email %>
      <%= f.email_field :email %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
  </div>
<% end %>
