<h1><i class="fas fa-users"><%= t :Participant %></i></h1>

<p>
  <strong><%= t :Name %>:</strong>
  <%= @participant.name %>
</p>

<p>
  <strong><%= t :Membership_Number %>:</strong>
  <%= @participant.membership_number %>
</p>

<p>
  <strong><%= t :Email %>:</strong>
  <%= @participant.email %>
</p>

<%= link_to t('Seminar'), user_seminar_path(current_user, @seminar) %>

<%= link_to t('Edit_Participant'), edit_user_seminar_participant_path(current_user, @seminar, @participant) %>
