<h1 class="page-title"><i class="fas fa-users"><%= t :Participant %></i></h1>

<table class="participant-infos">
  <tr class="participant-info">
    <th class="participant-info-title"><%= t :Name %></th>
    <td class="participant-info-content"><%= @participant.name %></td>
  </tr>

  <tr class="participant-info">
    <th class="participant-info-title"><%= t :Email %></th>
    <td class="participant-info-content"><%= @participant.email %></td>
  </tr>

  <tr class="participant-info">
    <th class="participant-info-title"><%= t :Membership_Number %></th>
    <td class="participant-info-content"><%= @participant.membership_number %></td>
  </td>
</table>

<%= link_to t('Seminar'), user_seminar_path(current_user, @seminar) %>

<%= link_to t('Edit_Participant'), edit_user_seminar_participant_path(current_user, @seminar, @participant) %>
