<h1> My Profile</h1>

<div class="user-infos">
  <ul class="user-info">
    <li class="user-info-title">Name:</li>
    <li class="user-info-content"><%= @user.name %></li>
  </ul>

  <ul class="user-info">
    <li class="user-info-title">Kana:</li>
    <li class="user-info-content"><%= @user.kana %></li>
  </ul>

  <ul class="user-info">
    <li class="user-info-title">Email:</li>
    <li class="user-info-content"><%= @user.email %></li>
  </ul>

  <ul class="user-info">
    <li class="user-info-title">membership number:</li>
    <li class="user-info-content"><%= @user.membership_number %></li>
  </ul>
</div>

<%= link_to 'Edit Profite', edit_user_path(@user) %>
