<h1 class="page-title"><%= t :My_Profile %></h1>

<table class="user-infos">
  <tr class="user-info">
    <th class="user-info-title"><%= t :Name %></th>
    <td class="user-info-content"><%= @user.name %></td>
  </tr>

  <tr class="user-info">
    <th class="user-info-title"><%= t :Kana %></th>
    <td class="user-info-content"><%= @user.kana %></td>
  </tr>

  <tr class="user-info">
    <th class="user-info-title"><%= t :Email %></th>
    <td class="user-info-content"><%= @user.email %></td>
  </tr>

  <tr class="user-info">
    <th class="user-info-title"><%= t :Membership_Number %></th>
    <td class="user-info-content"><%= @user.membership_number %></td>
  </tr>
</table>

<%= link_to edit_user_path(@user) do %>
  <i class="fas fa-user-edit"><%= t :Edit_Profile %></i>
<% end %>
