<nav class="header-nav">
  <ul class="header-menus">
    <li><%= link_to "/" do %>
          <%= image_tag 'logo_white.svg', class:"logo"%>
        <% end%></li>
    <% if current_user %>
      <li class="menu"><%= link_to user_path(current_user) do %>
        <i class="fas fa-user"><%= "#{current_user.name}" %></i>
      <% end %></li>
      <li class="menu"><%= link_to user_seminars_path(current_user) do %>
        <i class="fas fa-chalkboard-teacher"><%= t :My_Seminars %></i>
      <% end %></li>
      <li class="menu"><%= link_to  :logout, method: :post do %>
        <i class="fas fa-sign-out-alt"><%= t :Logout %></i>
      <% end %></li>
    <% else %>
      <li class="menu"><%= link_to new_user_session_path do %>
        <i class="fas fa-sign-in-alt"><%= t :Login %></i>
      <% end %></li>
      <li class="menu"><%= link_to new_user_path do %>
        <i class="fas fa-user-plus"><%= t :Signup %></i>
      <% end %></li>
    <% end %> 
  </ul>
</nav>
