<h1 class="page-title"><%= t :Preview %></h1>

<table class="preview">
  <tr><th><%= t :From %></th><td><%= @mail.from %></td>
  <tr><th><%= t :To %></th><td><%= @mail.to %></td></tr>
  <tr><th><%= t :Subject %></th><td><%= @mail.subject %></td></tr>
  <tr><th><%= t :Attachment %></th><td><%= link_to @mail.attachments.first.filename, user_seminar_report_path(format: "pdf") %></td></tr>
  <tr><th><%= t :Content %></th> <td><%= @mail.html_part.body %></td></tr>
</table>

<div class="send">
  <%= link_to user_seminar_send_report_path(current_user, @seminar) do %>
    <i class="far fa-envelope send-btn"><%= t :Send_mail %></i>
  <% end %>
</div>
