<h1>Seminars</h1>

<table class="seminars">
  <thead>
    <tr>
      <th>Start_at</th>
      <th>Finish_at</th>
      <th>Place</th>
      <th>Title</th>
      <th>Theme</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @seminars.each do |seminar| %>
      <tr>
        <td><%= seminar.start_at.strftime("%Y-%m-%d %k:%M") %></td>
        <td><%= seminar.finish_at.strftime("%Y-%m-%d %k:%M") %></td>
        <td><%= seminar.place %></td>
        <td><%= seminar.title %></td>
        <td><%= seminar.theme %></td>
        <td><%= link_to 'Show', user_seminar_path(current_user, seminar) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Seminar', new_user_seminar_path %>
