<div class="page-title">
  <h1><i class="fas fa-chalkboard-teacher">
  <%= @seminar.title %></i></h1>
  <%= link_to edit_user_seminar_path(current_user, @seminar) do %>
    <i class="fas fa-edit"><%= t :Edit_Seminar %></i>
  <% end %>
</div>
<p><%= @seminar.theme %><p>

<ul class="create-mail">
  <li><%= link_to user_seminar_report_preview_path(current_user, @seminar) do %>
    <i class="far fa-envelope" id="report-envelop"><%= t :Create_report_mail %></i>
  <% end %></li>
</ul>

<table class="seminar-info">
  <thead>
    <tr>
      <th class="date"><%= t :Date_and_Time %></th>
      <th class="place"><%= t :Place %></th>
      <th class="point"><%= t :Point %></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= "#{@seminar.start_at.strftime("%Y-%m-%d %k:%M")} ~ #{@seminar.finish_at.strftime("%m-%d %k:%M")}" %></td>
        <td><%= @seminar.place %></td>
        <td><%= @seminar.point %></td>
      </tr>
  </tbody>
</table>

<div class="participant">
  <h2><i class="fas fa-users"><%= t :Participants %></i></h2>
  <%= link_to new_user_seminar_participant_path(current_user, @seminar) do %>
    <i class="fas fa-user-plus new-participant"><%= t("New_Participant") %></i>
  <% end %>
</div>

<ul class="create-mail">
  <li><%= link_to user_seminar_certification_preview_path(current_user, @seminar) do %>
    <i class="far fa-envelope"><%= t :Create_certification_mail %></i>
  <% end %><li>
</ul>

<% if @seminar.participants.any? %>
  <table class="participants">
    <tr>
      <th><%= t :Membership_Number %></th>
      <th><%= t :Name %></th>
      <th colspan="1"></th>
    </tr>
    <% @seminar.participants.each do |p| %>
    <tr>
      <td><%= membership_number(p) %></td>
      <td><%= p.name %></td>
      <td><%= link_to t("Show_Participant"), user_seminar_participant_path(current_user, @seminar, p) %></td>
    </tr>
    <% end %>
  </table>
<% else %>
  <p><%= t :No_participant %></p>
<% end %>

