<h1>Seminars</h1>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Start_at</th>
      <th>Finish_at</th>
      <th>Place</th>
      <th>Title</th>
      <th>Theme</th>
      <th>User</th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @seminar.date %></td>
        <td><%= @seminar.start_at %></td>
        <td><%= @seminar.finish_at %></td>
        <td><%= @seminar.place %></td>
        <td><%= @seminar.title %></td>
        <td><%= @seminar.theme %></td>
        <td><%= @seminar.user.name %></td>

        <td><%= link_to 'Edit', edit_user_seminar_path(@seminar) %></td>
        <td><%= link_to 'Destroy', user_seminar_path(@seminar), method: :delete %></td>
      </tr>
  </tbody>
</table>

<br>

<%= link_to 'New Seminar', new_user_seminar_path %>
<%= link_to 'Seminar Index', user_seminars_path %>
