<h1><%= @seminar.title %></h1>
<h2><%= @seminar.theme %></h2>

<table>
  <thead>
    <tr>
      <th>Start_at</th>
      <th>Finish_at</th>
      <th>Place</th>
      <th>User</th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @seminar.start_at.strftime("%Y-%m-%d %k:%M") %></td>
        <td><%= @seminar.finish_at.strftime("%Y-%m-%d %k:%M") %></td>
        <td><%= @seminar.place %></td>
        <td><%= @seminar.user.name %></td>
      </tr>
  </tbody>
</table>

<td><%= link_to 'Edit Seminar', edit_user_seminar_path(@seminar) %></td>
<br>

<%= link_to 'New Seminar', new_user_seminar_path %>
<%= link_to 'Seminar Index', user_seminars_path %>
