<h1><i class="fas fa-chalkboard-teacher"><%= t :Seminar %></i></h1>
<table class="title-theme">
  <tr><th><%= t :Title %></th><td class="seminar-title"> <%= @seminar.title %></td></tr>
  <tr><th><%= t :Theme %></th><td class="seminar-theme"> <%= @seminar.theme %></td></tr>
</table>


  <%= link_to user_seminar_path(current_user, @seminar, format: "pdf") do %>
    <i class="far fa-file-pdf"><%= t :Generate_Report_PDF %></i>
  <% end%>
  <%= link_to user_seminar_report_preview_path(current_user, @seminar) do %>
    <i class="far fa-envelope" id="report-envelop"><%= t :Create_report_mail_to_Association %></i>
  <% end %>
<table class="seminar-info">
  <thead>
    <tr>
      <th class="date"><%= t :Date_and_Time %></th>
      <th class="place"><%= t :Place %></th>
      <th class="point"><%= t :Point %></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= "#{@seminar.start_at.strftime("%Y-%m-%d %k:%M")} ~ #{@seminar.finish_at.strftime("%m-%d %k:%M")}" %></td>
        <td><%= @seminar.place %></td>
        <td><%= @seminar.point %></td>
      </tr>
  </tbody>
</table>
<%= link_to edit_user_seminar_path(current_user, @seminar) do %>
  <i class="fas fa-edit"><%= t :Edit_Seminar %></i>
<% end %>
<%= link_to user_seminar_report_mail_path(current_user, @seminar) do %>
  <i class="far fa-envelope"><%= t :Send_Report_to_Association %></i>
<% end %>

<h3 class="seminar-participants"><i class="fas fa-users"><%= t :Participants %></i></h3>

<<<<<<< HEAD
<%= link_to user_seminar_cert_mail_path(current_user, @seminar) do %>
  <i class="far fa-envelope"><%= t :Send_Certification %></i>
=======
<%= link_to user_seminar_certification_path(current_user, @seminar, format: "pdf") do %>
  <i class="far fa-file-pdf"><%= t :Generate_Certification_PDF %></i>
<% end%>

<%= link_to user_seminar_certficitaion_preview_path(current_user, @seminar) do %>
  <i class="far fa-envelope"><%= t :Create_certification_mail_to_participants %></i>
>>>>>>> Add routing for certification mail preview
<% end %>
<!-- <%= link_to user_seminar_cert_mail_path(current_user, @seminar) do %>
  <i class="far fa-envelope"><%= t :Send_Certification %></i>
<% end %> -->

<% if @seminar.participants.any? %>
  <table class="seminar-participants">
    <tr>
      <th><%= t :Membership_Number %></th>
      <th><%= t :Name %></th>
      <th colspan="1"></th>
    </tr>
    <% @seminar.participants.each do |p| %>
    <tr>
      <td><%= p.membership_number %></td>
      <td><%= p.name %></td>
      <td><%= link_to t("Show_Participant"), user_seminar_participant_path(current_user, @seminar, p) %></td>
    </tr>
    <% end %>
  </table>
<% else %>
  <p><%= t :No_participant %></p>
<% end %>

<%= link_to t("New_Participant"), new_user_seminar_participant_path(current_user, @seminar) %>
<%= link_to t("New_Seminar"), new_user_seminar_path %>
