<h1 class="title"><%= @seminar.title %></h1>
<h2 class="theme"><%= @seminar.theme %></h2>

<%= link_to 'Generate Seminar PDF', user_seminar_path(current_user, @seminar, format: 'pdf') %>
<table>
  <thead>
    <tr>
      <th>Start_at</th>
      <th>Finish_at</th>
      <th>Place</th>
      <th>User</th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @seminar.start_at.strftime("%Y-%m-%d %k:%M") %></td>
        <td><%= @seminar.finish_at.strftime("%Y-%m-%d %k:%M") %></td>
        <td><%= @seminar.place %></td>
        <td><%= @seminar.user.name %></td>
      </tr>
  </tbody>
</table>

<h3>Participants</h3>
<% if @seminar.participants.any? %>
  <table>
    <tr>
      <th>MenbershipNumber</th>
      <th>Name</th>
      <th colspan="1"></th>
    </tr>
    <% @seminar.participants.each do |p| %>
    <tr>
      <td><%= p.membership_number %></td>
      <td><%= p.name %></td>
      <td><%= link_to 'Show Participant', user_seminar_participant_path(current_user, @seminar, p) %></td>
    </tr>
    <% end %>
  </table>
<% else %>
  <p>No participant</p>
<% end %>
<%= link_to 'New Participant', new_user_seminar_participant_path(current_user, @seminar) %>

<td><%= link_to 'Edit Seminar', edit_user_seminar_path(@seminar) %></td>
<br>

<%= link_to 'New Seminar', new_user_seminar_path %>
