<h1>Seminar</h1>
<table class="title-theme">
  <tr><th>Title</th><td class="seminar-title"> <%= @seminar.title %></td></tr>
  <tr><th>Theme</th><td class="seminar-theme"> <%= @seminar.theme %></td></tr>
</table>

<%= link_to 'Generate Seminar PDF', user_seminar_path(current_user, @seminar, format: 'pdf') %>
<table class="seminar-info">
  <thead>
    <tr>
      <th>Start_at</th>
      <th>Finish_at</th>
      <th>Place</th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @seminar.start_at.strftime("%Y-%m-%d %k:%M") %></td>
        <td><%= @seminar.finish_at.strftime("%Y-%m-%d %k:%M") %></td>
        <td><%= @seminar.place %></td>
      </tr>
  </tbody>
</table>

<h3 class="seminar-participants">Participants</h3>
<% if @seminar.participants.any? %>
  <table class="seminar-participants">
    <tr>
      <th>MenbershipNumber</th>
      <th>Name</th>
      <th colspan="1"></th>
    </tr>
    <% @seminar.participants.each do |p| %>
    <tr>
      <td><%= p.membership_number %></td>
      <td><%= p.name %></td>
      <td><%= link_to 'Show Participant', user_seminar_participant_path(current_user, @seminar, p) %></td>
    </tr>
    <% end %>
  </table>
<% else %>
  <p>No participant</p>
<% end %>

<%= link_to 'New Participant', new_user_seminar_participant_path(current_user, @seminar) %>
<%= link_to 'New Seminar', new_user_seminar_path %>
