<%= form_tag user_sessions_path, :method => :post do %>
  <div class="forms">
    <div class="form">
      <%= label_tag t :Email %>
      <%= text_field_tag :email %>
    </div>
    <div class="form">
      <%= label_tag t :Password %>
      <%= password_field_tag :password %>
    </div>
    <div class="actions">
      <%= submit_tag t"Login" %>
    </div>
  </div>
<% end %>
