<%= form_with url:user_sessions_path do |f| %>
  <div class="forms">
    <div class="form">
      <%= f.label :email, t("email") %>
      <%= f.text_field :email %>
    </div>
    <div class="form">
      <%= f.label :password, t("password") %>
      <%= f.password_field :password %>
    </div>
    <div class="actions">
      <%= f.submit t("login"), id: "login_button" %>
    </div>
  </div>
<% end %>
