<!DOCTYPE html>
<html>
  <head>
    <title>Documey</title>
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="header-nav">
      <% if current_user %>
        <%= link_to user_seminars_path(current_user) do%>
          <%= image_tag 'logo.svg', class:"logo" %>
        <% end%>
        <ul class="header-menus">
          <li class="menu"><%= link_to "#{current_user.name}", user_path(current_user) %></li>
            <!-- <ul class="submenus">
              <li class="submenu"><%= link_to 'Profile', edit_user_path(current_user) %></li>
            </ul> -->
          <li class="menu"><%= link_to 'My Seminars', user_seminars_path(current_user) %>
            <!-- <ul class="submenus">
              <li class="submenu"><%= link_to 'Seminars', user_seminars_path(current_user) %></li>
              <li class="submenu"><%= link_to 'New Seminar', new_user_seminar_path(current_user) %></li>
            </ul> -->

          <li class="menu"><%= link_to "Logout", :logout, method: :post %></li>
        </ul>
      <% else %>
        <%= link_to "/" do%>
          <%= image_tag 'logo.png' %>
        <% end%>
        <ul class="header-menus">
          <li class="menu"><%= link_to "Register", new_user_path %></li>
        </ul>
      <% end %>
    </nav>
    <section class="notices">
      <p class="notice"><%= flash[:notice] %></p>
      <!--<p id="alert"><%= flash[:alert] %></p> -->
    </section>
    <article class="content">
      <%= yield %>
    <article class="content">
  </body>
</html>
